body {
    background-color: black;
}

::-webkit-scrollbar {
    color: transparent
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  ::-webkit-scrollbar-thumb {
    background: #F96302; 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #F92405; 
  }

  /*-------------------*/
 /*SEARCH PAGE STYLING*/
/*-------------------*/


#wholeRentalSearch {
    margin: auto;
    width: 99%;
    border: 1px solid black;
    background-color: #F96302;
}

#Toolbar {
    background-color: #F96302;

}

#toolsForRent{
    padding: 5px;
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: inherit;
    font-weight: bolder;
    color: white
}

#selectedSubtitle{
    color: white;
}

#homeDepotIcon {
    height: 10%;
    width: 10%;
}

.search {
    position: relative;
}

#searchIcon {
    position: absolute;
    top: 10px;
    left: 10px;
}

#searchField{
    text-indent: 35px;
}

#tableHead{
    background-color: lightgrey;
}

#checkedBox{
    background-color: #F96302;
}

#checkBox{
    background-color: #F96302;
}

#tablePagination{
    background-color: #F96302;
    color: white;
}

#wholeGallery {
    background-color: black;
    color: white;
    padding: 10px;
}

#links{
    overflow: auto;
    list-style-type: none;
    margin: 0;
    padding: 5px;
    align-content: right
}


#find {
    float: left;
    padding:10px;
}

a{
    color: lightgrey;
}

#wholeSlider{
    padding:20px;
    margin: auto;
}

#slider {
    width: 100%;
    height: 400px;
    background-color: black;
    overflow: auto;
    white-space: nowrap;
    margin: auto;
    display: block;
}

.slide {
    display: inline-block;
    margin: auto;
    width: 630px;
}

.sliderImages {
    height: 360px;
    margin: auto;
}

#ShoppingCart {
    background-color: rgba(249, 101, 2, 0.801);
    color: black;
    position: fixed;
    top: 90%;
    left: 89%;
    height: 50px;
    width: 50px;

}

#modal{
    display: none; 
    position: fixed; 
    z-index: 1; 
    right: -70%;
    top: 20%;
    width: 400px; 
    height: 1438px; 
    background-color: #F96302;
    color: white;
    border: 1px solid black;
}

#modal-header{
    text-align: center;
    background-color: white;
    color: black;
    border-bottom: 1px solid black;
    
}

#modalContent {
    text-align: center
}

#close{
    position: relative;
    right:-180px;
    cursor: pointer;
}

#paymentButton {
    background-color: black;
    position: relative;
    right:-250px;
    bottom: -205px;
}

#modal-footer {
    background-color: white;
    color: black;
    border-top: 1px solid black;
    margin-top: 160px
}


  /*-----------------*/
 /*USER PAGE STYLING*/
/*-----------------*/
#wholeForm{
    width: 100%;
    height: 100%;
    background-color: white;
}

#userForm {
    background-color: #eee;
    padding: 20px;
    border: 1px solid black
}

#UserLogo {
    height: 100px;
    width: 100px;
}


#LogoDiv {
    width: 100%;
    height: 80px;
    background-color: gray;
    margin-bottom: 40px;
}

#headerLow{
    width:100%;
    height: 30px;
    background-color: black;
    border-bottom: 5px solid #F96302;

}

::placeholder {
    color: gray;
}

.input-field {
    border-left: 3px solid #F96302
}

#saveButton {
    background-color: #F96302;
    margin-right: 20px;
}

#searchTools{
    color: gray;
}

  /*--------------------*/
 /*Welcome Page STYLING*/
/*--------------------*/
#welcomeBG {
    background-color: white;
    height: 100%;
    width: 100%;
 }
 #welcomeH {
    align-content: center;
    margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
 
    height: 250px;
    width: 100%;
 
    padding-left:100px;
    padding-right: 100px;
    
 
 }
 #getStart {
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    margin-bottom: 130px;
    padding: 18px;
 }

 #getStarted {
     background-color: #f96302;
     height: 100px;
     width: 500px;
     font-size: 30px;
 }

 #welcome {
    border: 3px solid black;
    padding:20px;
 }